.about-section {
  @include media(desktop) {
  }
}

.about-bg-wrapper {
  padding-top: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 150px;
    padding-bottom: 179px;
    max-width: 1440px;
    background-image: url(../img/about/about-bg-desk.png);
    background-repeat: no-repeat;
    background-position: top 195px center;
    background-size: auto;
  }
}

.about-container {
  @include media(desktop) {
  }
}

.about-content-wrapper {
  @include media(desktop) {
  }
}

.about-title {
  @include media(desktop) {
    margin-bottom: 168px;
  }
}

.about-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  @include media(desktop) {
    display: none;
  }
}

.about-text-wrapper {
  @include media(desktop) {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto;
  }
}

.about-title {
  @include media(desktop) {
  }
}

.about-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #f1daf6;

  @include media(desktop) {
  }
}

.about-text-span {
  font-weight: 700;

  @include media(desktop) {
  }
}
