.features-section {
  @include media(desktop) {
  }
}

.features-bg-wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/features/features-bg-mob.png);
  background-repeat: no-repeat;
  background-position: top 184px center;
  background-size: auto;

  @include media(desktop) {
    padding-top: 150px;
    padding-bottom: 270px;
    max-width: 1440px;
    background-image: url(../img/features/features-bg-desk.png);
    background-position: top 256px left 189px;
  }
}

.features-container {
  @include media(desktop) {
  }
}

.features-title {
  @include media(desktop) {
  }
}

.features-subtitle {
  margin-bottom: 368px;

  @include media(desktop) {
    margin-bottom: 22px;
  }
}

.features-content-wrapper {
  @include media(desktop) {
  }
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 18px;

  @include media(desktop) {
    gap: 24px;
    max-width: max-content;
    margin-left: auto;
    margin-right: 60px;
  }
}

.features-list-item {
  display: flex;
  align-items: start;
  gap: 8px;

  @include media(desktop) {
  }
}

.features-icon {
  min-width: 20px;

  @include media(desktop) {
  }
}

.features-item-text-wrapper {
  @include media(desktop) {
  }
}

.features-item-title {
  font-family: 'Baloo 2', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #fd5f60;
  margin-bottom: 8px;

  @include media(desktop) {
  }
}

.features-item-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e3a4f;

  @include media(desktop) {
  }
}
