.gameplay-section {
  padding-top: 80px;

  @include media(desktop) {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

.gameplay-container {
  padding: 0;

  @include media(desktop) {
    padding: 0 80px;
  }
}

.gameplay-title-wrapper {
  padding: 0 20px;
  margin-bottom: 22px;

  @include media(desktop) {
    padding: 0;
  }
}

.gameplay-title {
  @include media(desktop) {
  }
}

.gameplay-subtitle {
  font-family: 'Marcellus', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #f1daf6;

  @include media(desktop) {
  }
}

.gameplay-img-mob {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  @include media(desktop) {
    display: none;
  }
}

.gameplay-content-wrapper {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 18px;

  @include media(desktop) {
    padding: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}

.gameplay-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 522px;

  @include media(desktop) {
  }
}

.gameplay-img1-desk {
  display: none;

  @include media(desktop) {
    display: block;
  }
}

.gameplay-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #f1daf6;

  @include media(desktop) {
  }
}

.gameplay-img2-desk {
  display: none;

  @include media(desktop) {
    display: block;
  }
}
