.mechanics-section {
  @include media(desktop) {
    scroll-margin-top: 100px;
  }
}

.mechanics-bg-wrapper {
  padding-top: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 137px;
    padding-bottom: 137px;
    max-width: 1440px;
    background-image: url(../img/mechanics/mechanics-bg-desk.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto;
  }
}

.mechanics-container {
  padding: 0;

  @include media(desktop) {
    padding: 0 80px;
  }
}

.mechanics-title {
  @include media(desktop) {
    color: #7fc6b6;
  }
}

.mechanics-subtitle {
  font-family: 'Marcellus', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #f1daf6;

  @include media(desktop) {
  }
}

.mechanics-content-wrapper {
  @include media(desktop) {
    background: rgba(28, 68, 67, 0.6);
    border-radius: 20px;
    padding: 22px;
    max-width: 846px;
    margin-left: auto;
    margin-right: auto;
  }
}
.mechanics-title-wrapper {
  padding: 0 20px;
  margin-bottom: 22px;

  @include media(desktop) {
    padding: 0;
  }
}

.mechanics-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  @include media(desktop) {
    display: none;
  }
}

.mechanics-text {
  padding: 0 20px;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #f1daf6;

  @include media(desktop) {
    padding: 0;
  }
}
