.privacy-body {
  .header {
    background: #9acde8;
  }

  .header-bg-wrapper {
    background-image: none;
  }
}
.policy-section {
  background: #9acde8;
  padding-top: 104px;
  padding-bottom: 40px;

  @include media(desktop) {
    padding-top: 136px;
    padding-bottom: 48px;
  }
}

.policy-section h1 {
  font-family: 'Baloo 2', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: #fd5f60;
  margin-bottom: 64px;

  @include media(desktop) {
    margin-bottom: 80px;
  }
}

.policy-section h2 {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #2e3a4f;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.policy-section h3 {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #2e3a4f;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.policy-section h4 {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #2e3a4f;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.policy-section p {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e3a4f;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.policy-section li {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e3a4f;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.policy-section a {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  word-break: break-all;

  @include media(desktop) {
  }
}

.policy-section span {
  @include media(desktop) {
  }
}
