<section class="section gameplay-section" id="gameplay">
  <div class="container gameplay-container">
    <div class="gameplay-title-wrapper">
      <h2 class="section-title gameplay-title">The Echo Mechanic</h2>
      <p class="section-subtitle gameplay-subtitle">
        Nothing Happens Only Once
      </p>
    </div>
    <img
      class="gameplay-img-mob"
      src="./img/gameplay/gameplay-img-mob.png"
      alt="Screenshot of the game"
      width="375"
      height="231"
      loading="lazy"
    />
    <div class="gameplay-content-wrapper">
      <div class="gameplay-text-wrapper">
        <img
          class="gameplay-img1-desk"
          src="./img/gameplay/gameplay-img1-desk.png"
          alt="Screenshot of the game"
          width="522"
          height="298"
          loading="lazy"
        />
        <p class="gameplay-text">
          Every action leaves a trace. In Stillgrove, those traces don’t
          disappear — they remain, quietly repeating themselves in the
          background.<br />
          These echoes are not decorations. They are part of the puzzle.<br />
          You might see your past self walking across a clearing. You might
          watch an object fall again and again, each time slightly out of sync.
          These repetitions are clues, tools, and sometimes obstacles.
        </p>
      </div>
      <div class="gameplay-text-wrapper">
        <p class="gameplay-text">
          Figuring out when these echoes show up is crucial. You’ll need to
          watch for patterns — when they appear, how they overlap, what happens
          when different versions of the same moment crash into each other.<br />
          This is not about reacting quickly. It is about noticing patterns that
          others would ignore.
        </p>
        <img
          class="gameplay-img2-desk"
          src="./img/gameplay/gameplay-img2-desk.png"
          alt="Screenshot of the game"
          width="522"
          height="322"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
